OnAFaimJPAFront/.settings
OnAFaimJPAFront/target
OnAFaimJPAFront/.classpath
OnAFaimJPAFront/.project

OnAFaimJPABack/.settings
OnAFaimJPABack/target
OnAFaimJPABack/.classpath
OnAFaimJPABack/.project
OnAFaimJPABack/src/test/java